/*! Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&family=Caveat:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/*? Applying fonts */

/** Main font for body text */
body {
    font-family: 'Montserrat', sans-serif;
}

/** Font for main headings */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em; /* Adjusted size for better visibility */
    color: #27AE60; /* Darker color for better contrast */
    text-align: center; /* Centered for a more appealing look */
}

/** Font for subheadings */
h2 {
    font-family: 'Dancing Script', cursive;
}

/** Font for paragraphs */
p {
    font-family: 'Caveat', cursive;
}

/** Styling the body */
body {
    background-color: #111519; /* Light grey background */
    color: #979797; /* Dark grey text color */
    margin: 0;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
}

header {
    background-color: #1E1E2F; /* Darker header background */
    padding: 20px;
    border-radius: .4375rem; /* Rounded corners */
    display: flex;
    justify-content: center; /* Aligns header to the center */        
    align-items: center; /* Center items vertically */
}

nav {
    background-color: #30303a;
    padding: 10px;
    text-align: center;
    border-radius: .625rem;
    margin: 0.75rem 0 0 0; /* Margin for spacing */
    position: sticky;
    top: .25rem; /* Sticky positioning */
    z-index: 9999; /* Ensure it stays on top */
    box-shadow: 4px 4px 14px 4px rgba(96, 255, 141, 0.098); /* Легка тінь */
}


ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

li {
    display: inline; /* Display list items inline */
    margin: 0 15px; /* Space between list items */
    color: #27AE60; /* Green color for links */
}

/* Remove margin from last list item */
li:last-child {
    margin-right: 0;
}

/* Styling links */
a {
    text-decoration: none; /* Remove underline */
    color: #38ec83; /* Green color for links */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
    color: #00ff1e; /* Change color on hover */
}
