/*! Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&family=Caveat:wght@400;700&family=Montserrat:wght@400;700&display=swap');

/*? Applying fonts */

/** Main font for body text */
body {
    font-family: 'Montserrat', sans-serif;
}

/** Font for main headings */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5em; /* Adjusted size for better visibility */
    color: #27AE60; /* Darker color for better contrast */
    text-align: center; /* Centered for a more appealing look */
}

/** Font for subheadings */
h2 {
    font-family: 'Dancing Script', cursive;
}

/** Font for paragraphs */
p {
    font-family: 'Caveat', cursive;
}

/** Styling the body */
body {
    background-color: #111519; /* Light grey background */
    color: #979797; /* Dark grey text color */
    margin: 0;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
}
